<!doctype html>
<html lang="zh-cn">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">

    <title>Virgo Calc</title>
</head>

<body class="d-flex flex-column h-100">
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a href="/" class="navbar-brand">Virgo Calc</a>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="tabs" role="tablist">
                    <li class="navbar-item">
                        <a href="#generate" class="nav-link active" id="generate-tab" data-toggle="tab" role="tab"
                            aria-controls="generate" aria-selected="true">生成题目</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#exam" class="nav-link" id="exam-tab" data-toggle="tab" role="tab" aria-controls="exam"
                            aria-selected="false">在线答题</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content container h-100" id="content">
        <div class="tab-pane fade show active" id="generate" role="tabpanel" aria-labelledby="generate-tab">
            <form>
                <div class="form-row align-items-center my-3">
                    <div class="col-auto">
                        <div class="input-group px-3" id="prob-num-grp">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="prob-num-label">题目数量</span>
                            </div>
                            <input id="prob-num" type="text" class="form-control" placeholder="题目数量" aria-label="题目数量" aria-describedby="prob-num-label">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="enable-frac">
                            <label class="form-check-label" for="enable-frac">答案存在分数</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="enable-ans">
                            <label class="form-check-label" for="enable-ans">包含答案</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="enable-pow">
                            <label class="form-check-label" for="enable-pow">乘方运算</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mx-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="select-symb">乘方运算符号</label>
                            </div>
                            <select class="custom-select" id="select-symb" disabled>
                                <option value="^" selected>^</option>
                                <option value="**">**</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-success mx-3" id="submit">生成问题</button>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <label for="res-area">
                    <button class="btn btn-info" disabled id="res-stat">
                        生成结果
                    </button>
                    <button id="spinner" class="btn btn-primary" style="display: none;" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ></span>
                        <span class="sr-only">Loading...</span>
                    </button>
                </label>
                <textarea id="res-area" class="form-control" placeholder="" rows="30" readonly></textarea>
            </div>

        </div>
        <div class="tab-pane fade h-100 d-flex" id="exam" role="tabpanel" aria-labelledby="exam-tab">
            <div class="rounded border border-primary p-5 m-auto h-auto" id="start-div">
                <form id="start-form" class="text-center mx-auto">
                    <input type="text" placeholder="试题数量" class="form-control" required="" id="start-num">
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" value="" id="start-frac">
                        <label class="form-check-label" for="start-frac">
                            答案存在分数
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="start-pow">
                        <label class="form-check-label" for="start-pow">
                            包含乘方运算
                        </label>
                    </div>
                    <button type="button" class="btn btn-primary my-3" id="start-button">开始做题！</button>
                </form>
            </div>
            <div id="prob-div" class="m-auto w-75" style="display: none;">
                <div class="row">
                    <div class="col-6 my-auto text-right" id="prob-text">2+2</div>
                    <div class="col-6">
                        <form class="form-inline">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">=</div>
                                </div>
                                <input type="text" class="form-control" id="ans" placeholder="答案">
                            </div>
                            <button type="button" class="btn btn-primary mx-2" id="submit-ans">提交答案</button>
                        </form>
                    </div>
                </div>
                <div class="alert alert-success my-3" style="display: none;" role="alert" id="ans-correct">
                    恭喜，答案正确
                </div>
                <div class="alert alert-danger my-3" style="display: none;" role="alert" id="ans-error">
                    答案错误，正确答案是：<span id="correct-value"></span>
                </div>
                <div class="text-center">
                    现在是第<span id="cur-prob-num"></span>题，共有<span id="all-prob-num"></span>题
                </div>
                <div class="text-center">
                <button class="btn btn-primary mx-auto align-middle" type="button" id="next-prob">下一题</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="end-modal" tabindex="-1" role="dialog" aria-labelledby="end-modal-title">
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="end-modal-title">答题结束</h5>
                </div>
                <div class="modal-body">
                    您一共回答了<span id="end-all"></span>道题，正确<span id="end-correct"></span>道
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="end-modal-check">确定</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted mx-5">Virgo-Calc</span>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/index.js"></script>
</body>

</html>